body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #04061d; /* Changed background color */
    color: white; /* Changed text color */
    margin: 0;
}

.header-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    background-color: #04061d; /* Align with background color */
    position: fixed;
    top: 0;
    left: 0;
}

.header-links a {
    padding: 15px 25px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #04061d; /* Align with background color */
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-links a:hover {
    background-color: white;
    color: #04061d; /* Align with background color */
}

.announcement {
    margin-top: 80px;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
    color: white; /* Align with text color */
    text-align: center;
    width: 100%;
    background-color: #04061d; /* Align with background color */
}

.container {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#minesBoard {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 5px;
    margin-top: 20px;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.cell.mine {
    background-image: url('bomb.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cell.diamond {
    background-image: url('diamond.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid lime;
}

.cell.defaultDiamond {
    background-image: url('diamond.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#minesForm {
    margin-bottom: 20px;
}

#multiplier, #minesResults {
    margin-top: 10px;
    font-size: 1.2em;
}

input[type="number"] {
    margin: 0 10px;
    padding: 5px;
    background-color: #c11920; /* Changed input background color */
    color: white; /* Align with text color */
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    width: 100px;
}

button {
    padding: 10px 20px;
    border: 2px solid #c11920; /* Changed button border color */
    border-radius: 10px;
    background-color: #c11920; /* Changed button background color */
    color: black; /* Changed button text color */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 10px;
}

button:hover {
    background-color: black; /* Changed hover effect */
    color: #c11920; /* Changed hover text color */
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.header {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #04061d; /* Align with background color */
    color: white;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bet-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bet-controls button {
    margin: 0 5px;
}

.randomize-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.randomize-group label {
    margin: 5px;
}

.randomize-group input {
    margin: 5px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
    width: 80px;
}

.randomize-group button {
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #c11920; /* Changed button border color */
    border-radius: 10px;
    background-color: #c11920; /* Changed button background color */
    color: black; /* Changed button text color */
    cursor: pointer;
}

/* Style for the LIVE text when offline */
#live-status-text.offline {
    color: gray;
}
